@import '../../styles/var.less';

@avatar-size-mini: 24 * @hd;
@avatar-size-small: 32 * @hd;
@avatar-size-normal: 40 * @hd;
@avatar-size-large: 56 * @hd;
@avatar-background-color: var(--rv-gray-3);
@avatar-color: var(--rv-gray-7);
@avatar-font-size: var(--rv-font-size-md);
@avatar-border-radius: var(--rv-border-radius-md);
